#login {
  background-color: #212121;
  text-align: center;
}

h3 {
  color: #212121;
  text-decoration: wavy;
}

.bodylogin {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  gap: 5% ;
  background-color: whitesmoke;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 20px;
  border-color: black;
}

html {
  background-color: #212121;
}
.pokeball-login {
  margin-top: 20px;
  width: 8%;
}

.tituloLogin {
  color: #212121;
  animation: fadein 2s;
}
.linkregister {
  margin-bottom: 4%;
  text-decoration: none;
}
.linkregister:active {
  color: #212121;
}
.linkregister:hover {
  font-size: 1.05rem;
}

.ingresar {
  margin-bottom: 2%;
  border-radius: 8px;
  border: solid 1px whitesmoke;
  background-color: #727171;
  color: whitesmoke;
  width: 20%;
  cursor: pointer;
  outline: none;
  transition: 0.1s all;
}
.ingresar:hover {
  background-color: #2121218f;
 width: 23%;
}

.input1 {
  border-radius: 5px;
  border: 1px solid #212121;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 55%;
}
.input2 {
  border-radius: 5px;
  border: solid 1px #212121;
  margin-top: 2%;
  margin-bottom: 4%;
  width: 55%;
}
.ingresar:active {
  transform: scale(0.78);
  box-shadow: 1% 1% 22px 2px #6b6b6b;
}
@media (prefers-reduced-motion: no-preference) {
  .pokeball-login {
    animation: jump 1.5s linear alternate infinite;
  }
}

@keyframes jump {
  0% {
    transform: scale(1, 1.1) translateY(0);
  }
  10% {
    transform: scale(1.1, 1) translateY(0);
  }
  30% {
    transform: scale(1, 1.1) translateY(-15px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 1600px) and (max-width: 2600px) {
  h3 {
    color: #212121;
    font-size: 1.7vh;
    margin-bottom: 10px;
  }
  .bodylogin {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    gap: 0.2rem;
    background-color: whitesmoke;
    margin-left: 40%;
    border-radius: 20px;
    border-color: black;
    width: 30%;
    height: 10%;
  }

  html {
    background-color: #212121;
  }
  .pokeball-login {
    margin-top: 4%;
    width: 8%;
  }

  .tituloLogin {
    color: #212121;
    animation: fadein 2s;
    font-size: 3.5vh;
  }

  .ingresar {
    margin-bottom: 2%;
    border-radius: 8px;
    border: solid 1px whitesmoke;
    background-color: #515151;
    color: whitesmoke;
    width:20%;
    height: 3rem;
    cursor: pointer;
    outline: none;
    transition: 0.1s all;
    font-size: 1.4rem;
  }
  .ingresar:hover {
    background-color: #2121218f;
    width: 11vh;
  }

  .input1 {
    border-radius: 10px;
    border: 1px solid #212121;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 55%;
    height: 1.7rem;
  }
  .input2 {
    border-radius: 10px;
    border: solid 1px #212121;
    margin-top: 5px;
    margin-bottom: 1rem;
    width: 55%;
    height: 1.7rem;
  }
  .ingresar:active {
    transform: scale(0.78);
    box-shadow: 2px 2px 22px 2px #6b6b6b;
  }
}


@media (min-width: 320px) and (max-width: 480px) {
  #login {
    background-color: #212121;
    text-align: center;
  }

  h3 {
    color: #212121;
    text-decoration: wavy;
  }

  .bodylogin {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    gap: 10px;
    background-color: whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    border-color: black;
  }

  html {
    background-color: #212121;
  }
  .pokeball-login {
    margin-top: 20px;
    width: 8%;
  }

  .tituloLogin {
    color: #212121;
    animation: fadein 2s;
  }

  .ingresar {
    margin-bottom: 1%;
    border-radius: 8px;
    border: solid 1px whitesmoke;
    background-color: #515151;
    color: whitesmoke;
    width: 10vh;
    height: 3vh;
    cursor: pointer;
    outline: none;
    transition: 0.1s all;
  }
  .ingresar:hover {
    background-color: #2121218f;
    width: 11vh;
  }
  .buttons {
    gap: 30px;
    display: flex;
    justify-content: center;
  }
  .input1 {
    border-radius: 5px;
    border: 1px solid #212121;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 30vh;
  }
  .input2 {
    border-radius: 5px;
    border: solid 1px #212121;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 30vh;
  }
  .ingresar:active {
    transform: scale(0.78);
    box-shadow: 2px 2px 22px 2px #6b6b6b;
  }
}
