

.imagePokemon {
  display: none;
}


.pokeFormPopup {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.363);
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
}
.formPopup {
    position: relative;
    width: 60%;
    height: 50rem;
    background-color: whitesmoke;
    border: 3px solid rgba(0, 0, 0, 0.863);
    border-radius: 10px;
    margin-left:20%;
    overflow: auto;
    z-index: 4;
    animation: spin 1s;
}

.formPopupContent {
    padding: 3%;
    text-align: center;
}

.btnClosePopup {
    border-radius: 10px;
    margin-right: -9.5rem;
    position: fixed;
    right: calc(35% - 40px);
    top: 3%;
    z-index: 5;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    padding: 10px;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    80% {
        transform: rotate(365deg);
    }
    90% {
        transform: rotate(355deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*
POKEBALL
*/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    background: #ecf0f1;
  }
  .center-on-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -330%);
    width: 90%;
    
  }
  .btnLoadImage{
    margin-top: 2%;
    border-radius: 5px;
    border: 1px solid;
    width: 15%; 
  }

  .randomStats{
    margin-top: 2%;
    border-radius: 5px;
    border: 1px solid;
    width: 15%;
  }
  .chooseStats {
    border-radius: 5px;
    border: 1px solid;
    margin-left: 2%;
    width: 15%;
  }
  .add {
    margin-top: 2%;
    border-radius: 5px;
    border: 1px solid;
    width: 10%;
  }
  
  /* Poké Styles */
  .pokeball {
    position: relative;
    width: 75px;
    height: 75px;
    background: #fff;
    border: 5px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -5px 5px 0 5px #ccc;
    animation: fall .25s ease-in-out,
               shake 1.25s cubic-bezier(.36,.07,.19,.97) 6;
    margin-top: 3.5rem;
    margin-left: -2.5rem;
  }
  .pokeball::before,
  .pokeball::after {
    content:"";
    position: absolute;
  }
  .pokeball::before {
    background: red;
    width: 100%;
    height: 50%;
  }
  .pokeball::after {
    top: calc(50% - 5px);
    width: 100%;
    height: 10px;
    background: #000;
  }
  .pokeball__button {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background: #7f8c8d;
    border: 5px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 5px black;
    animation: blink .5s alternate 14;
    
  }
  
/* Animation */
@keyframes blink {
  from { background: #eee;}
  to { background: #e74c3c; }
}
@keyframes shake {
    0% { transform: translate(0, 0) rotate(0); }
  50% { transform: translate(0, 0) rotate(0); }
  55% { transform: translate(-10px, 0) rotate(-20deg); }
  60% { transform: translate(10px, 0) rotate(20deg); }
  70% { transform: translate(-10px, 0) rotate(-10deg); }
  75% { transform: translate(10px, 0) rotate(10deg); }
  100% { transform: translate(0, 0) rotate(0); }
}

/*
Buttons
*/
.buttons {
    width: 90%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 7%;
}
.botones {
  margin-bottom: 3%;
}


.buttons button {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    letter-spacing: 2px;
    transition: all .35s;
    margin: 5px;
  }
  

  
.buttons button:after{
    position: absolute;
    content: "";
    height: 100%;
    background: #ff003b;
    animation: fadein 0.35s;
  }
  
.buttons button:hover{
    color: #fff;
  }

.buttons button:disabled{
    background-color: #444444;
    background: fixed #444444;
    color: #000000;
}
/*type color*/

.rock {
  background-color: #b69e31;
  color: #b69e31;
}

.ghost {
  background-color: #70559b;
  color: #70559b;
}

.steel {
  background-color: #b7b9d0;
  color: #b7b9d0;
}

.water {
  background-color: #6493eb;
  color: #6493eb;
}

.grass {
  background-color: #74cb48;
  color: #74cb48;
}

.psychic {
  color: #fb5584;
  background: -webkit-radial-gradient(center, #fb5584, #d86f8d);
}

.ice {
  background-color: #9ad6df;
  color: #9ad6df;
}

.dark {
  background-color: #75574c;
  color: #75574c;
}

.fairy {
  background-color: #e69eac;
  color: #e69eac;
}

.normal {
  background-color: #aaa67f;
  color: #aaa67f;
}

.fighting {
  background-color: #c12239;
  color: #c12239;
}

.flying{
  background-color: #a891ec;
  color: #a891ec;
}

.poison {
  background-color: #a43e9e;
  color: #a43e9e;
}

.ground {
  background-color: #dec16b;
  color: #dec16b;
}

.bug {
  background-color: #a7b723;
  color: #a7b723;
}

.fire {
  background-color: #f57d31;
  color: #f57d31;
}

.electric {
  background-color: #f9cf30;
  color: #f9cf30;
}

.dragon {
  background: -webkit-radial-gradient(center, #7037ff, #7854d3);
  color: #7037ff;
}

.firstThree {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -10%;

}
.secondThree {
  margin-top: -7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  

}
.stats{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


input {
  width: 60%;
  border-radius: 10px;
}

@media (min-width: 320px) and (max-width: 480px){
  
  .imagePokemon {
    display: none;
  }
  
  
  .pokeFormPopup {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.363);
      left: 0;
      top: 0;
      width: 90%;
    
      z-index: 3;
  }
  .formPopup {
      position: relative;
      width: 100%;
      height: 40rem;
      background-color: whitesmoke;
      border: 3px solid rgba(0, 0, 0, 0.863);
      border-radius: 10px;
      margin-left:6%;
      overflow: auto;
      z-index: 4;
      animation: spin 1.5s;
  }
  
  .formPopupContent {
      padding: 3%;
      text-align: center;
  }
  
  .btnClosePopup {
      border-radius: 10px;
      margin-right: -65px;
      position: fixed;
      right: calc(35% - 40px);
      top: 1%;
      z-index: 5;
      background-color: rgb(0, 0, 0);
      color: whitesmoke;
      padding: 3px;
      width: 30px;
  } 
  .center-on-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -330%);
    width: 90%;
    
  }
  .btnLoadImage{
    margin-top: 2%;
    border-radius: 5px;
    border: 1px solid;
    width: 15%; 
  }

  .randomStats{
    margin-top: 2%;
    border-radius: 5px;
    border: 1px solid;
    width: 30%;
  }
  .chooseStats {
    border-radius: 5px;
    border: 1px solid;
    margin-left: 2%;
    width: 30%;
  }
  .add {
    margin-top: -2%;
    border-radius: 5px;
    border: 1px solid;
    width: 20%;
  }
  .pokeball{
    display: none;
  }
  .buttons {
    display: flex;
    flex: auto;
    
}

}