#bodycard {
  font-family: Poppins, sans-serif;
  text-align: center;
}
.Contenedor-principal {
  display: flex;
  background-color: #21212100;
}

.Contenedor-card {
  border-radius: 15px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 5px;
  min-height: 80%;
  width: 100%;
  animation: fadein 1s;
}
.Para-el-background {
  position: relative;
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
  background-position: center;
  background-size: cover;
}
.Fondo-pokeball {
  display: flex;
  justify-content: flex-end;
  animation: fadein 2s;
}
.Imagen-pokeball {
  position: absolute;
  opacity: 0.12;
  height: 270px;
}
.Contenedor-name-id-pk {
  display: flex;
  justify-content: space-between;
  max-height: 45px;
  margin-top: 25px;
}
.Contenedor-nombre-pokemon {
  grid-row: 1;

  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 35px;
}
.Nombre-pokemon {
  font-weight: bold;
  font-size: 32px;
}
.Boton-atras-flecha {
  width: 1.8rem;
  height: 1.8rem;
  transform: scale(100%);
  position: relative;
  margin-top: 5%;
}
.Contenedor-stats-pk {
  background-color: whitesmoke;
  grid-row: 2;
  margin: 5px;
  border-radius: 15px;
}
.ID-pokemon {
  padding-right: 10px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 55px;
}
.Imagen-pokemon {
  position: absolute;
  top: 10%;
  left: 22%;
  width: 50%;
  animation: float 2s infinite;
}
.Contenedor-stats-pk {
  background-color: whitesmoke;
}
.Tipo-pokemon-lista span {
  border-radius: 10px;
  color: white;
  padding: 5px;
  margin: 5px;
}

.Tipo-pokemon-lista {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

@media (min-width: 900px) and (max-width: 1586px) {
  #bodycard {
    background-color: #212121e8;
  }
  .botones-derecha-izquierda {
    height: 100%;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    display: flex;
    margin-top: -150px;
    margin-left: 10px;
  }

  .mover-izquierda {
    width: 10%;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-left: 1vh;
  }

  .mover-derecha {
    width: 80%;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    display: flex;
    float: right;
  }

  .Imagen-pokeball {
    position: absolute;
    opacity: 0.12;
    height: auto;
    width: 30rem;
  }
  .ID-pokemon {
    padding-right: 10px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 55px;
    font-size: large;
  }
  .Imagen-pokemon {
    position: absolute;
    top: 10%;
    left: 44%;
    width: 15%;

    animation: float 2s infinite;
  }

  

  .Contenedor-name-id-pk {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-top: 1%;
  }
  .Contenedor-card {
    border-radius: 15px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    min-height: 80%;
    width: 100%;
    margin-top: 10px;
    margin-right: 50vh;
    margin-left: 50vh;
  }
  .Contenedor-nombre-pokemon {
    grid-row: 1;
    color: rgb(241, 241, 241);
    padding: 10px;
    align-items: center;
    justify-content: left;
    width: 60%;
    height: 35px;
    gap: 30px;
  }
}

.Tipo-pokemon {
  display: flex;
  margin: 45px auto 0px auto;
  justify-content: center;
  align-items: center;
}
.Peso-altura-movimientos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
}

.About-pokemon {
  list-style: none;
}
.About-pokemon li {
  display: inline;
}
.atributos-pokemon {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.imagen-weight {
  width: 20px;
  height: 20px;
}
.imagen-height {
  width: 10px;
  height: 20px;
}
.div-weight {
  font-size: 15px;
  border-right-width: 2px;
  border-bottom: 0px;
  border-left: 0px;
  border-top: 0px;
  border-color: #e0e0e0;
  border-style: solid;
  width: 80px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.div-height {
  font-size: 15px;
  border-right-width: 2px;
  border-bottom: 0px;
  border-left: 0px;
  border-top: 0px;
  border-color: #e0e0e0;
  border-style: solid;
  width: 80px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.div-moves {
  font-size: 15px;
  width: 80px;
  padding-right: 10px;
  padding-left: 10px;
}

.imagenYPeso {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 80px;
}
.imagenYAltura {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 70px;
}
.texto-weight {
  font-size: 13px;
  color: #666666;
  display: flex;
  justify-content: center;
}
.texto-height {
  font-size: 13px;
  color: #666666;
  display: flex;
  justify-content: center;
}
.texto-moves {
  font-size: 13px;
  color: #666666;
  display: flex;
  justify-content: center;
}
.descripcion-pokemon {
  font-size: 14px;
  padding: 0px 20px;
  height: 40px;
  width: 95%;
  display: flex;
  justify-content: center;
  text-align: left;
  font-size: small;
  margin-top: 10px;
}
.base-stats {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones-derecha-izquierda {
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  display: flex;
}

.mover-izquierda {
  width: 10%;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.mover-derecha {
  height: 50px;
  border-radius: 50%;
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  display: flex;
  float: right;
  margin-left: 340px;
}

@media (min-width: 1600px) and (max-width: 2600px) {
  #bodycard {
    font-family: Poppins, sans-serif;
    text-align: center;
  }
  .Contenedor-principal {
    display: flex;
    background-color: #212121;
    margin-top: 5vh;
  }
  .Contenedor-card {
    border-radius: 15px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 5px;
    height: 80vh;
    width: 100%;
    margin-left: 50vh;
    margin-right: 50vh;
  }
  .Para-el-background {
    position: relative;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
    background-position: center;
    background-size: cover;
  }
  .Fondo-pokeball {
    display: flex;
    justify-content: flex-end;
  }
  .Imagen-pokeball {
    position: absolute;
    opacity: 0.15;
    height: 280px;
    margin-right: 5vh;
  }
  .Contenedor-name-id-pk {
    display: flex;
    justify-content: space-between;
    max-height: 45px;
    margin-top: 25px;
  }
  .Contenedor-nombre-pokemon {
    grid-row: 1;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    width: 65%;
    height: 35px;
  }
  .Nombre-pokemon {
    font-weight: bold;
    font-size: 32px;
  }
  .Boton-atras-flecha {
    width: 42px;
    height: 42px;
    transform: scale(100%);
    margin-right: 2%;
  }
  .Contenedor-stats-pk {
    background-color: whitesmoke;
    grid-row: 2;
    margin: 5px;
    border-radius: 15px;
  }
  .ID-pokemon {
    padding-right: 10px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 55px;
    font-size: xx-large;
    margin-right: 5vh;
  }
  .Imagen-pokemon {
    position: absolute;
    top: 10%;
    left: 46%;
    width: 11%;
  }
  .Contenedor-stats-pk {
    background-color: whitesmoke;
    font-size: large;
  }

  p {
    font-size: 17px;
  }

  .Tipo-pokemon-lista span {
    border-radius: 10px;
    color: white;
    padding: 13px;
    margin: 5px;
  }

  .Tipo-pokemon-lista {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
  .botones-derecha-izquierda {
    height: 120%;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    display: flex;
    margin-top: -15vh;
  }

  .mover-izquierda {
    width: 10%;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-left: 15vh;
  }

  .mover-derecha {
    width: 80%;

    border-radius: 50%;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    display: flex;
    float: right;
  }
  .Peso-altura-movimientos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 130px;
    font-size: larger;
  }
}
@media (min-width: 320px) and (max-width: 480px) {

  
  .Contenedor-nombre-pokemon {
    grid-row: 1;
    color: rgb(241, 241, 241);
    padding: 10px;
    align-items: center;
    justify-content: left;
    width: 30%;
    
    gap: 30px;
  }

  .Boton-atras-flecha {
    width: 1.5rem;
    height: 1.5rem;
    transform: scale(100%);
    display: block;
    margin-left: 15%;
    margin-top: 1%;
  }
  .botones-derecha-izquierda {
    height: 100%;
    width: 65%;
    justify-content: space-around;
    position: absolute;
    display: flex;
    margin-top: -5vh;
  }

  .mover-izquierda {
    height: 50px;
    border-radius: 50%;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-left: -10rem;
  }

  .mover-derecha {
    width: 70%;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    display: flex;
    float: right;
    margin-right: -6rem;
  }

  .Imagen-pokeball {
    position: absolute;
    opacity: 0.12;
    height: 20rem;
    width: 35rem;
  }
  .ID-pokemon {
    padding-right: 15px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    height:4%;
    font-size: large;
  }
  .Imagen-pokemon {
    position: absolute;
    top: 10%;
    left: 36%;
    width: 35%;
    animation: float 5s infinite;
  }

  .Imagen-pokemon:hover {
    animation: float 3s;
  }
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
}
.rock {
  background-color: #b69e31;
  color: #b69e31;
}

.ghost {
  background-color: #70559b;
  color: #70559b;
}

.steel {
  background-color: #b7b9d0;
  color: #b7b9d0;
}

.water {
  background-color: #6493eb;
  color: #6493eb;
}

.grass {
  background-color: #74cb48;
  color: #74cb48;
}

.psychic {
  color: #fb5584;
  background: -webkit-radial-gradient(center, #fb5584, #d86f8d);
}

.ice {
  background-color: #9ad6df;
  color: #9ad6df;
}

.dark {
  background-color: #75574c;
  color: #75574c;
}

.fairy {
  background-color: #e69eac;
  color: #e69eac;
}

.normal {
  background-color: #aaa67f;
  color: #aaa67f;
}

.fighting {
  background-color: #c12239;
  color: #c12239;
}

.flying {
  background-color: #a891ec;
  color: #a891ec;
}

.poison {
  background-color: #a43e9e;
  color: #a43e9e;
}

.ground {
  background-color: #dec16b;
  color: #dec16b;
}

.bug {
  background-color: #a7b723;
  color: #a7b723;
}

.fire {
  background-color: #f57d31;
  color: #f57d31;
}

.electric {
  background-color: #f9cf30;
  color: #f9cf30;
}

.dragon {
  background: -webkit-radial-gradient(center, #7037ff, #7854d3);
  color: #7037ff;
}
