.loadermain {
  display: flex;
  margin-top: 2rem;
  margin-right: 5rem;
 
}




.container-pokemon {
  display: grid;
  grid-template-columns: repeat(3, 204px);
  grid-template-rows: 112px 112px 112px;
  grid-gap: 6px;
  justify-content: center;
  align-content: center;
  display: block;
}

#bodyUI {
  background-color: rgba(245, 245, 245, 0.9);
}

.card-pokemon {
  display: grid;
  grid-template-rows: 82% 18%;
  width: 100%;
  height: 100%;

  border-radius: 8px;
  font-size: x-small;
  animation: fadein 2s;
}

.id-pokemon {
  display: flex;
  justify-content: flex-end;
  padding: 2px 5px 0 0;
  font-size: xx-small;
}

.nombre-pokemon {
  grid-row: 2/3;
  text-align: center;
}

.foto-card-pokemon {
  grid-row: 1/2;
  margin: auto;
  border-radius: 15px;
  height: 98%;
  width: 97%;
  background-color: rgba(222, 218, 218, 0.459);
  display: flex;
  flex-direction: column;
  position: relative;
}

#rock {
  background-color: #b69e31;
  color: #b69e31;
}

#ghost {
  background-color: #70559b;
  color: #70559b;
}

#steel {
  background-color: #b7b9d0;
  color: #b7b9d0;
}

#water {
  background-color: #6493eb;
  color: #6493eb;
}

#grass {
  background-color: #74cb48;
  color: #74cb48;
}

#psychic {
  color: #fb5584;
  background: -webkit-radial-gradient(center, #fb5584, #d86f8d);
}

#ice {
  background-color: #9ad6df;
  color: #9ad6df;
}

#dark {
  background-color: #75574c;
  color: #75574c;
}

#fairy {
  background-color: #e69eac;
  color: #e69eac;
}

#normal {
  background-color: #aaa67f;
  color: #aaa67f;
}

#fighting {
  background-color: #c12239;
  color: #c12239;
}

#flying {
  background-color: #a891ec;
  color: #a891ec;
}

#poison {
  background-color: #a43e9e;
  color: #a43e9e;
}

#ground {
  background-color: #dec16b;
  color: #dec16b;
}

#bug {
  background-color: #a7b723;
  color: #a7b723;
}

#fire {
  background-color: #f57d31;
  color: #f57d31;
}

#electric {
  background-color: #f9cf30;
  color: #f9cf30;
}

#dragon {
  background: -webkit-radial-gradient(center, #7037ff, #7854d3);
  color: #7037ff;
}

.pokeball-nav {
  width: 2.3rem;
  margin: auto;
  animation: jump 2.6s infinite;
}

.Input-search {
  display: flex;
  justify-content: space-around;
}

.input-login {
  font-family: Poppins, sans-serif;
  font-size: x-small;
  border-radius: 5px;
  border: 1px solid grey;
  height: 1.5rem;
  width: 0rem;
}

.input-login::placeholder {
  text-align: center;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

.img-container {
  display: flex;
  width: 55%;
  justify-content: space-around;
  margin-left: 20px;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.fa-arrow-down {
  transform: scaleY(1.1);
  margin: 4px;
}

.aZOrder {
  height: 25px;
  font-size: x-small;
  line-height: 12px;
  align-items: center;
}

.fa-magnifying-glass {
  margin-left: 17px;
  margin-top: 4px;
  position: absolute;
  opacity: 0.5;
  display: inline-block;
  transform: scaleY(0.9);
}

.container-Order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47%;
}

@media (min-width: 700px) and (max-width: 1600px) {
  .container-nav {
    display: flex;
    justify-content: space-between;
  }

  .img-container {
    display: flex;
    margin-left: 5%;
  }

  .Input-search {
    margin-right: 10%;
  }

  .input-login {
    font-family: Poppins, sans-serif;
    font-weight: 750;
    width: 80%;
    font-size: x-small;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 0 25px;
    content: icon;
  }

  .container-pokemon {
    display: grid;
    grid-template-columns: repeat(4, 18rem);
    grid-template-rows: repeat(6, 20rem);
    grid-gap: 30px;
    justify-content: center;
    align-content: center;
    margin-top: 3%;
  }
  .id-pokemon {
    display: flex;
    justify-content: flex-end;
    padding: 2px 5px 0 0;
    font-size: large;
    color: whitesmoke;
  }

  .nombre-pokemon {
    grid-row: 2/3;
    color: whitesmoke;
    text-align: center;
    margin-top: 5px;
    font-size: x-large;
  }

  .pokemonimg {
    width: 67%;
    margin: auto;
  }
  .addpokemonimg{
    width: 50%;
    margin: auto;
  }
  .addpokemonimg:hover {
    width: 54%;
    animation: float 1.7s infinite;
  }
  .pokemonimg:hover {
    width: 74%;
    animation: float 1.7s infinite;
  }
  @keyframes shake {
    0% {
      transform: rotate(7deg);
    }
    25% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-7deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
}
@media (min-width: 1600px) and (max-width: 2600px) {
  h1 {
    font-size: 50px;
  }

  .container-nav {
    margin-left: 10vh;
    display: flex;
    justify-content: space-between;
  }

  .img-container {
    display: flex;
    justify-content: center;
  }

  .Input-search {
    display: flex;
    justify-content: space-around;
  }

  .input-login {
    font-family: Poppins, sans-serif;
    font-weight: 750;
    width: 48%;
    font-size: small;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 0 25px;
    content: icon;
    margin-bottom: 10px;
  }

  .container-pokemon {
    display: grid;
    grid-template-columns: repeat(3, 304px);
    grid-template-rows: 272px 272px 272px;
    grid-gap: 30px;
    justify-content: center;
    align-content: center;
  }
  .id-pokemon {
    display: flex;
    justify-content: flex-end;
    padding: 2px 5px 0 0;
    font-size: 20px;
    color: whitesmoke;
  }

  .nombre-pokemon {
    grid-row: 2/3;
    color: whitesmoke;
    text-align: center;
    margin-top: 5px;
    font-size: x-large;
  }
  .fa-arrow-down {
    transform: scaleY(1.1);
    margin-right: 60rem;
  }

  .aZOrder {
    height: 25px;
    font-size: xx-small;
    line-height: 14px;
    align-items: center;
  }

  .pokemonimg {
    width: 64%;
    margin: auto;
  }
  .pokemonimg:hover {
    animation: float 5s infinite;
  }

  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
}
@media (min-width: 320px) and (max-width: 480px) {

  .loadermain {
    display: flex;
    margin-top: 1rem;
    margin-right: 0rem;
    width: 10px;
    height: 10px;
   
  }
  .addpokemonimg{
    width: 46%;
    margin: auto;
  }
  .addpokemonimg:hover {
    width: 54%;
    animation: float 1.7s infinite;
  }
  .container-Order {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
  }

  .pokeball-nav {
    width: 1.7rem;
    margin: auto;
    animation: jump 2.6s infinite;
  }

  #bodyUI {
    background-color: whitesmoke;
  }

  h1 {
    font-size: 25px;
  }

  .container-nav {
    
    display: flex;
    justify-content: space-around;
  }

  .img-container {
    display: flex;

    justify-content: center;
  }

  .Input-search {
    display: flex;
    justify-content: space-around;

  }

  .loadermain{
    margin-top: 6%;
    width: 30px;
    height: 10px;
  }
  .input-login {
    font-family: Poppins, sans-serif;
    font-weight: 350;
    width: 75%;
    font-size: smaller;
    border-radius: 5px;
    border: 1px solid grey;
    height: 2vh;
    margin-right: 1.5rem;

    content: icon;
    margin-bottom: 10px;
  }

  .container-pokemon {
    display: grid;
    grid-template-columns: repeat(3, 104px);
    grid-template-rows: 112px 112px 112px;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    margin-top: 1%;
  }
  .id-pokemon {
    display: flex;
    justify-content: flex-end;
    padding: 2px 5px 0 0;
    font-size: 10px;
    color: whitesmoke;
  }

  .nombre-pokemon {
    grid-row: 2/3;
    color: whitesmoke;
    text-align: center;
    margin-top: 5px;
    font-size: smaller;
  }
  .fa-arrow-down {
    transform: scaleY(1.1);
    margin-right: 3rem;
  }

  .aZOrder {
    height: 25px;
    font-size: xx-small;
    line-height: 14px;
    align-items: center;
  }

  .pokemonimg {
    width: 64%;
    margin: auto;
   
  }
  .pokemonimg:hover {
    animation: float 2s infinite;
  }

  .container-nav {
    margin-left: 0.5rem;
  display: flex;
  justify-content: space-around;
}
.Input-search {
  display: flex;
  justify-content: space-evenly;
  margin-right: 1rem;
}

 
}
